@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for radio button checked state */
input[type="radio"]:checked + img + div {
    border-color: theme('colors.primary-pink');
    box-shadow: 0 0 0 1px theme('colors.primary-pink');
}

/* Custom styles for radio button checked state on parent label */
label.has-checked:has(input[type="radio"]:checked) {
    border-color: theme('colors.primary-pink');
    box-shadow: 0 0 0 1px theme('colors.primary-pink');
}
